<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kamran Pirwani</title>
</head>
<body>
<div class="container">
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="img-circular-photo img-responsive" alt="Pavel Smejkal's photo" src="img/profile.jpg">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.facebook.com/pavel.smejkal" target="_blank" class="btn btn-default btn-lg"><i class="fa fafb fa-fw"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/smejkpa7" target="_blank" class="btn btn-default btn-lg"><i class="fa fatwt fa-fw"></i></a>
                    </li>
                    <li>
                        <a href="http://lnkd.in/buAEPaF" target="_blank" class="btn btn-default btn-lg"><i class="fa falkin fa-fw"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/psmejkal" target="_blank" class="btn btn-default btn-lg"><i class="fa fagth fa-fw"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <h2 class="text-center">About</h2>
                <p>I am a friendly mobile app developer based in Prague, Czech Republic.<br>
                    Last three years I focus on <strong>iOS apps development</strong>,
                    but I have also couple of years of experience with web apps development.</p>

                <p>I am enthusiastic about every project I take on and truly enjoy what I do.<br>
                    I keep up-to-date on the latest development approaches and I always need something new to learn.</p>

                <p>I finished my Master's of <strong>Web and Software Engineering</strong> at Czech Technical University in Prague in June 2015.
                    These days I focus on iOS apps in <a href="http://www.strv.com/" target="_blank">STRV</a>
                    and I explore features of new iOS versions on <a class="page-scroll" href="#projects" alt="Projects">my own projects</a>.</p>
            </div>
        </div>
    </section>
</div>
</body>
</html>